.container {
    /* width: 18rem; */
    border: 1px solid yellowgreen;
    background: rgba(0, 0, 0, 0.8);
    padding: 1.5rem;
    color: white;
}

.header {
    margin: 0 0 20px 0;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin: 0;
}

.button {
    color: yellowgreen;
    border: 1px solid white;
    margin: 5px;
    padding: 5 10;
    cursor: pointer;
}
.button:hover {
    color: black;
    background-color: yellowgreen;
    cursor: pointer;
}
.buttonWrapper{
  display:flex
}