@import "tailwindcss";

@source "./**/*.{ts,tsx}";
@source "../components/**/*.{ts,tsx}";
@source "../src/**/*.{ts,tsx}";

html {
  background: black;
}
body{
  color: white;
}
:root {
  --color-dull: rgba(154, 205, 50, 0.35);
  --color-steel: #3f4a6e
}

