.wrapper {
  height: 200dvh;
  background: #000;
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  width: 62vmax;
  height: 62vmax;
  top: -20vmax;
  right: -20vmax;
  z-index: 1;
}

.circle circle {
  fill: none;
  stroke: yellowgreen;
  stroke-width: 3;
  stroke-dasharray: 20 5;
}

.ringCW {
  transform-origin: 50% 50%;
  animation: spinCW 300s linear infinite;
}

.ringCCW {
  transform-origin: 50% 50%;
  animation: spinCCW 200s linear infinite;

}

@keyframes spinCW {
  to { transform: rotate(360deg); }
}

@keyframes spinCCW {
  to { transform: rotate(-360deg); }
}

.cmd {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60 0 0 60
}
