
.loginWrapper{
    display: flex;
    justify-content: center;
}
.login{
    display:flex;
    flex-direction: column;
    min-height: 35vh;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 0 0;
    border: 5px solid yellowgreen;
    width: 400px;
}
.authInputFields {
    display: flex;
    flex-direction: column;
    margin: 20 0 0 0;
    gap: 20px;
}

.loginInput{
    border: 1px solid white;
    padding: 5px;
    flex: 1
}
.authButtons{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.authButton{
    color:yellowgreen;
    border: 1px solid white;
    margin: 5px;
    padding: 12 15;
}
.authButton:hover{
    color: black;
    background-color: yellowgreen;
    cursor: pointer;
}