.form{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.modalButton {
  color: red;
  border: 1px solid red;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.modalButton:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}

