.newChatContainer{
    /* display:flex;
    flex-direction: column; */
}
.chatName{
    position: relative;
    border: 2px solid white;
    margin: 10px 10px
}
.newChatFields{
    display: flex; 
    flex-direction: column; 
}
.newChatButtons{
    display:flex;
    justify-content: space-between;
    gap:10px;
    margin-top: 20px;
    padding: 0 20;
}

.modalButton {
  color: yellowgreen;
  border: 1px solid white;
  margin: 5px;
  padding: 5 10;
  cursor: pointer;
  /* padding: 5px; */

}

.modalButton:hover {
  color: black;
  background-color: yellowgreen;
  cursor: pointer;
}