.modalTextInput {
  border: 1px solid white;
}

.modalButton {
  color: yellowgreen;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;

}

.modalButton:hover {
  color: black;
  background-color: yellowgreen;
  cursor: pointer;
}

.form{
  display: flex;
  gap: 10px;
}