.container{
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.createNewChatButton{
    display: flex;
    justify-content: center;
    background-color: rgb(28, 31, 35);
    padding: 12px 0
}

