.container {
    width: 18rem;
    border: 1px solid yellowgreen;
    background: rgba(0, 0, 0);
    padding: 1.5rem;
    color: white;
    z-index: 10
}

.header {
    margin: 0 0 20 0;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin: 0;
}

.fields {
    gap: 1rem;
}

.field {
    display: block;
    position: relative;
    align-items: center;
    margin: 0 0 1rem 0;

}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: whitesmoke;
}

.input {
    width: 100%;
    border: 1px solid #3f4a6e;
    background: rgba(255, 255, 255, 0.08);
    outline: none;
    padding: 0.5rem 1rem;
    color: white;
}

.input:focus {
    border-color: yellowgreen;
}

.icon {
    position: absolute;
    right: 10px;
    color: white
}

.buttonGroup {
    display: flex;
}

.modalButton {
    color: yellowgreen;
    border: 1px solid white;
    margin: 5px;
    padding: 5 10;
    cursor: pointer;
}

.modalButton:hover {
    color: black;
    background-color: yellowgreen;
    cursor: pointer;
}

.modalButton:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.errorText {
    margin: 20 0 0 0;
    color: rgb(242, 79, 79);
}