.authButtons {
  display: flex;
  flex-direction: column;
  /* margin: 24 0 0 0 */
}

.authButtons button {
  color: yellowgreen;
  /* width: 10%; */
  border: 1px solid white;
  margin: 5px;
  padding: 12 15;
}

.authButtons button:hover {
  color: black;
  background-color: yellowgreen;
  cursor: pointer;
}