.transcriptContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.messagesArea{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  min-height: 0;
  padding: 20px;
  overflow-y: auto;

}