.header{
    height:40px;
    background-color: yellowgreen;
    display:flex;
    justify-content: space-between;
    padding: 0 16px;
    color: black;

}

.left {
  display: flex;
  align-items: center;
  font-weight:800;
}

.right {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.right:hover{
    background-color: black;
    color: white;
}