.container {
    width: 18rem;
    border: 1px solid yellowgreen;
    background: rgba(0, 0, 0, 0.8);
    padding: 1.5rem;
    color: white;

}

.header {
    margin: 0 0 20px 0;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin: 0;
}

.fields {
    gap: 1rem;
}

.field {
    display: block;
    position: relative;
    align-items: center;
    margin: 0 0 1rem 0;

}

.label {
    display: block;
    /* margin-bottom: 0.5rem; */
    font-size: 0.875rem;
    color: whitesmoke;
    margin: 0 0 10px 0;
}

.input {
    width: 100%;
    border: 1px solid #3f4a6e;
    background: rgba(255, 255, 255, 0.08);
    outline: none;
    padding: 0.5rem 1rem;
    color: white;
}

.input:focus {
    border-color: yellowgreen;
}

.wrapper{}

.icon {
    position: absolute;
    right: 10px;
    color: yellowgreen;
    top: 15px;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 40px;
    width: 100%;
    max-height: 30vh;
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(154, 205, 50, 0.35);
    padding: 4px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.70);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(154, 205, 50, 0.35) rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdownItem {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.dropdownItem:hover {
    background: rgba(154, 205, 50, 0.2);
    color: #9ACD32;
}

.selectedUsers {
    position: absolute;
    top: -10px;
    /* bottom: 100%; */
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px;
    font-size: .9rem;
    align-items: center;
    margin: 0;
}

.selectedUser {
    display: inline-flex;
    align-items: center;
    border: 1px dashed rgb(6, 105, 243);
    background: rgba(40, 181, 228, 0.2);
    white-space: nowrap;
    padding: 1px;
}

.clearAllButton {
    border: 1px solid rgb(63, 3, 4);
    background: rgb(137, 9, 9);
    cursor: pointer;
    white-space: nowrap;
    padding: 1px 3px;
}

.modalButton {
    color: yellowgreen;
    border: 1px solid white;
    margin: 5px;
    padding: 5 10;
    cursor: pointer;
}

.modalButton:hover {
    color: black;
    background-color: yellowgreen;
    cursor: pointer;
}

.modalButton:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.block{
    position: relative;
}

.errorText {
    margin: 20 0 0 0;
    color: rgb(242, 79, 79);
}