.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  /* align-items: center; */
}

.serviceName {
  flex: 1;              
  text-align: right;    
  padding-right: 12px;  
}


.indicator {
  /* width: 20px;           */
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
}

.healthDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.ok {
  background: limegreen;
}

.assumeOK {
  background: gold;
}

.error {
  background: crimson;
}
