.backdrop {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.60);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: rgb(28,31,35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px
}