.page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: #0b0b0f; 
  color: #f5f5f5;      
  /* flex: 1; */
  /* min-height: 0; */
}

.layout {
  display: flex;
  flex: 1;
  width: 100vw; 
  min-height: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-left: 5px solid yellowgreen;
  border-right: 5px solid yellowgreen;
  /* height: 100%; */
}

.sidebarLeft {
  width: 20vw;
  border-left: none;
  height: 100%;
}

.sidebarRight {
  width: 30vw;
  border-right: none;
}

.main {
  flex: 1;
  max-height: 100%;
  /* padding: 16px; */
  display: flex;
  flex-direction: column;
}